@{
    Page.Title = "Search Orders";
    Layout = "~/_Layout.cshtml";
}

<h1 id="HeadTitle">Mega Desk Order Site</h1>
<nav>
    <ul id="nav_list">
        <li class="list_content">
            <a class="nav_link" href="MainPage.cshtml">Home</a>
        </li>
        <li class="list_content">
            <a class="nav_link" href="AddPage.cshtml">Add Desk Order</a>
        </li>
        <li class="list_content">
            <a class="nav_link" href="ViewPage.cshtml">View Order</a>
        </li>
        <li class="list_content">
            <a class="nav_link" id="current" href="SearchPage.cshtml">Search Order</a>
        </li>
    </ul>
</nav>
